<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.babycare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BabyCare"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial"
            android:noHistory="true" />
        <activity
            android:name=".CallMum"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameOver"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuitScreen"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Winner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Credits"
            android:noHistory="true"></activity>
    </application>

</manifest>